 /* css normalization  */
 body,
 div,
 dl,
 dt,
 dd,
 ul,
 ol,
 li,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 pre,
 form,
 fieldset,
 input,
 textarea,
 p,
 blockquote,
 th,
 td, 
 footer{
   margin: 0;
   padding: 0;
 }
@media (max-width: 450px){
      body{
        font-family: 'lato';
    }
                          /* HOME  */
     #main_home{
        display: flex;
        justify-content: center;
        flex-direction: column;  
        background-image: url(./components/images/background.png),  
         linear-gradient(to right, #f352a0, #c471ed, #00f7ff);
        background-size: cover;
        position: fixed;
        margin: 0; 
        width: 100%;
        height: 100%;  
    }
    #sec_home{
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }
    #logo_home{
        width: 13rem;
        height: 14.9rem;
        margin: .5rem 0rem .5rem 4rem;
    } 
    ::placeholder { 
        color: #5a0b95; 
    }
    .input_login{
        width: 65%;
        height: 3rem;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        text-align: center;
        margin: .5rem 0 .5rem 4rem;
        border: none;
        background-color: rgba(255, 255, 255, .2);
        border-bottom: 3px solid #00f7ff;
    }
    #button_login{
        background-color: #A385CD;
        border-radius: 3rem;
        width: 10rem;
        height: 2.5rem;
        font-family: 'lato';
        font-style: normal;
        font-size: 27px;
        color: white;
        margin-left: 27%;
    } 
    #account{
        margin-top: 4rem;
        margin-left: 27%;
    }    
    #third_home{
      /*  width: 100%;*/
    }
     .button_register{
        background-color: #E88CB8;
        border-radius: 3rem;
        width: 9rem;
        height: 2rem;
        font-family: 'lato';
        font-style: normal;
        font-size: 27px;
        color: white;
        text-align: center;
        margin-left: 27%;
    } 
    #google{
        width: 3rem;
        height: 3rem;
        margin-top: 16px;
        cursor: pointer;
        margin-left: 27%;
    }
                        /* REGISTER */
     #main_register{
        display: flex;
        justify-content: center;
        flex-direction: column;  
        background-image: url(./components/images/background.png),  
         linear-gradient(to right, #f352a0, #c471ed, #00f7ff);
        background-size: cover;
        position: fixed;
        margin: 0; 
        width: 100%;
        height: 100%;     
    }
    #sec_register{
        display: flex;
        justify-content: center;
        flex-direction: column; 
        background-color: rgba(255, 255, 255, .2);
        border-radius: 2rem;
      
        padding: 5px 0px 40px 0px;
        margin-top: 4rem;
    }
    #tittle_1{
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }
     .input_register{
        width: 65%;
        height: 3rem;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        text-align: center;
        margin: .5rem 0 .5rem 4rem;
        border: none;
        background-color: rgba(255, 255, 255, .2);
        border-bottom: 3px solid #00f7ff; 
    }
    #conditions{
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #button_back{
        width: 3.7rem;
        height: 3.7rem;
        margin-top: 10rem;
    }
                       /* TIMELINE */                 
    #timeline_cont{
        width: 100vw;
        min-height: 100vh;
    }       
    #sec_timeline{
        background-color: #4CDEE2;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }     
    #logo_timeline{
        width: 11rem;
        height: 3.4rem;
    }   
    #button_logout{
        font-family: 'lato';
        font-size: 18px;
        color: black;
        align-self: flex-end;
    }   
    #third_timeline{
        margin-top: 1rem;
    }
    #post_place{
        margin-top: 2rem;
        width: 15rem;
        height: 2rem;
        text-align: center;
        border-radius: 10px;
        font-family: 'lato';
        font-size: 23px;
    }     
    #button_send{
        background-color: #A385CD;
        font-family: 'lato';
        border-radius: 3rem;
        color: white;
        width: 4rem;
        height: 2rem;
    }    
    #post_div{
        border-radius: .5rem;
        background-color: #F3F3F3;
        width: 17rem;
        height: 6rem;
        border: groove 1px black;
        text-align: justify;
    }  
    #reactions{
        display: flex;
        justify-content:end;
        /* padding: 5px; */
    }      
    .btn_like{
        width: 2rem;
        height: 2rem;
    }
    .btn_delete{
        width: 2rem;
        height: 2rem;
    }
    .btn_edit{
        width: 2rem;
        height: 2rem;
    }
    #editt{
        width: 1.2rem;
        height: 1rem;
        background-color: #5a0b95;
    }
    .newEditcontainer{
        visibility: hidden;
    }
    .showEditContainer{
        visibility: visible;
      
    }
    #input_value{
        background-color: rgba(255, 255, 255, .2);
        opacity: 90%;
        border: none;
        border-bottom: 3px solid #00f7ff; 
    }
}