/* #home_div{
    display: flex;
    justify-content: center;  
    flex-direction: column;
}
.button_register{
    background-color: #E88CB8;
    border-radius: 4rem;
    width: 9rem;
    height: 2.5rem;
    font-family: 'lato';
    font-style: normal;
    font-size: 20px;
    color: white;
}
#button_back{
    width: 4rem;
    height: 4rem;
}
.input_register{
    border-radius: .8rem;
    width: 8rem;
    height: 2rem;
    font-family: 'lato';
    text-align: center;
}
body{
   /* background-image: url(./components/images/background_solovino.jpg); 
    background-attachment: fixed; 
    background-position: center center;
    background-size: cover;*/
    /* display: flex;
    justify-content: center;
} 
#logo_home{
    width: 15rem;
    height: 16rem;
}
/* REGISTER */
/*#div_register{
    display: flex;
    justify-content: center;
    flex-direction: column; 
}  */
@media (max-width: 450px){
      body{
        width: 100%;
        background-image: url(./components/images/background.png);  
        background-size: cover;   
    }
                          /* HOME  */
     #main_home{
        /* display: flex;
        justify-content: center;
        flex-direction: column;  */
        /* background-image: url(./components/images/background_solovino.jpg);      
        background-size: cover;*/
    }
    #sec_home{
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }
    #logo_home{
        width: 13rem;
        height: 14.9rem;
        margin: .5rem 0rem .5rem 2rem;
    } 
    .input_login{
        border-radius: .7rem;
        width: 15.3rem;
        height: 2.3rem;
        font-family: 'lato';
        font-size: 23px;
        text-align: center;
        margin: 0rem 0rem .2rem 0rem;
    }
    #button_login{
        background-color: #A385CD;
        border-radius: 3rem;
        width: 10rem;
        height: 2.5rem;
        font-family: 'lato';
        font-style: normal;
        font-size: 27px;
        color: white;
        margin-left: 3.2rem;
    } 
    #account{
        margin-top: 4rem;
    }    
    #third_home{
      /*  width: 100%;*/
    }
     .button_register{
        background-color: #E88CB8;
        border-radius: 3rem;
        width: 9rem;
        height: 2rem;
        font-family: 'lato';
        font-style: normal;
        font-size: 27px;
        color: white;
        text-align: center;
    } 
    #google{
        width: 3rem;
        height: 3rem;
        margin-top: 16px;
        cursor: pointer;
    }
                        /* REGISTER */
     #main_register{
        display: flex;
        justify-content: center;
        flex-direction: column;   
    }
    #sec_register{
        display: flex;
        justify-content: center;
        flex-direction: column; 
        background-color: #BCBBBD;
        border-radius: 2rem;
        opacity: 95%;
        padding: 5px 0px 40px 0px;
        margin-top: 4rem;
    }
    #tittle_1{
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }
     .input_register{
        border-radius: .7rem;
        width: 15.3rem;
        height: 2.3rem;
        font-family: 'lato';
        font-size: 23px;
        text-align: center;
        margin: 0rem 0rem .2rem 2rem; 
    }
    #conditions{
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    #button_back{
        width: 3.7rem;
        height: 3.7rem;
        margin-top: 10rem;
    }
                       /* TIMELINE */                 
    #timeline_cont{
        width: 100vw;
        min-height: 100vh;
    }       
    #sec_timeline{
        background-color: #4CDEE2;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }     
    #logo_timeline{
        width: 11rem;
        height: 3.4rem;
    }   
    #button_logout{
        font-family: 'lato';
        font-size: 18px;
        color: black;
        align-self: flex-end;
    }   
    #third_timeline{
        margin-top: 1rem;
    }
    #post_place{
        margin-top: 2rem;
        width: 15rem;
        height: 2rem;
        text-align: center;
        border-radius: 10px;
        font-family: 'lato';
        font-size: 23px;
    }     
    #button_send{
        background-color: #A385CD;
        font-family: 'lato';
        border-radius: 3rem;
        color: white;
        width: 4rem;
        height: 2rem;
    }    
    #post_div{
        border-radius: .5rem;
        background-color: #F3F3F3;
        width: 17rem;
        height: 4rem;
        border: groove 1px black;
        text-align: justify;
    }  
    #reactions{
        display: flex;
        justify-content:end;
        padding: 5px;
    }      
    .btn_like{
        width: 2rem;
        height: 2rem;
    }
    .btn_delete{
        width: 2rem;
        height: 2rem;
    }
    .btn_edit{
        width: 2rem;
        height: 2rem;
    }
}